# Ignorar ambiente virtual
venv/
env/
__pycache__/
*.pyc

# Ignorar arquivos de configuração sensíveis (SENHAS)
.env
.env.txt

# Ignorar banco de dados local temporário
*.db
*.sqlite3

# Ignorar pasta de distribuição (se criou o .exe)
dist/
build/
*.spec